body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #432F21;
}

.heading {
	padding-top: 50px;
	background-color: #D6D3C4;
	padding-bottom: 50px;
}

h1 {
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #253939;
}

h3 {
	font-size: 1em;
	margin-top: 0;
}

p {
	font-size: 1em;
}

.reset-button {
	text-shadow: none;
	border: solid 1px black;
	border-radius: 13px;
	font-size: 1em;
	background-color: #FF8B6C;
	padding: 4px 20px;
	color: white;
}

.reset-button:hover, .add-button:hover {
	background-color: #5FA292;
	cursor: pointer;
}

.items {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 50px;
	width: 300px;
	/* border: solid 1px black; */
}


#add-items input {
	margin-top: 10px;
}

::-webkit-input-placeholder {
	color: #432F21;
}

:-moz-placeholder {
	color: #432F21;
}

::-moz-placeholder {
	color: #432F21;
}

:-ms-input-placeholder {
	color: #432F21;
}

input[type="text"] {
	background-color: #DFDED4;
	box-shadow: none;
	border: solid 1px black;
	width: 80%;
	height: 40px;
	margin: 0 auto;
	padding: 2px;
	float:left;
	font-size: 1em;
	text-align: center;
}

input[type="text"]:focus {
	outline: none;
}

.add-button {
	text-shadow: none;
	border: solid 1px black;
	font-size: 1em;
	background-color: #FF8B6C;
	padding: 0px 5px;
	color: white;
	height: 46px;
	width: 40px;
}

.list-items {
	list-style: none;
	padding: 0;
}

.list-items li {
	margin: 25px auto;
	height: 33px;
	width: 500px;
	padding-top: 15px;
}

.list-items .to-buy {
	background-color: #253939;
	color: #5FA292;
}

.list-items .bought {
	background-color: #5FA292;
}

.list-items li div {
	display: inline-block;
}

.list-items li div.checkbox {
	float: left;
	padding-left: 10px;
}

.list-items li div.remove {
	float: right;
	padding-right: 10px;
}

.list-items li.bought div.name {
	text-decoration: line-through;
}

.byebye {
	background-color: #D6D3C4;
	padding-top: 50px;
	padding-bottom: 50px;
}

h2 {
	color: #5FA292;
	font-size: 1em;
}

.shopping-list {
	padding-bottom: 10px;
}